body{
		background-color: #5280C5; 
		color: #003366; 
		font-family: Verdana, Arial, sans-serif;
		background-image: url(gradientblue.jpg);
	}

header {
		background-color: #000066; 
	    color: #F0F0F0; 
		text-align:center;
		background-image: url(bigfish.gif); 
		background-repeat: no-repeat;
		background-position: center;
	}
		
h1  {
	  	line-height: 250%; 
		text-indent: 1em;
		font-size: 3em;
		padding: 0.2em;
		text-shadow: #CCCCCC;
		margin-bottom: 0;
	}

nav {
		float: left;
		width: 180px;
		font-weight: bold;
		padding: 5px;
		nav ul	{
				list-style-type: none;
				text-decoration: none;
				}
	}

nav a:link	{
			color: #000066;
			}

nav a:visited	{
			color: #5280C5;
			}
			
nav a:hover	{
			color: #3262A3;
			}

dt 	{
		color: #5280C5; 
		font-size: 1em; 
		font-weight: bold;
	}
   
.category {
		color: #5380C5; 
		font-weight: bold; 
		font-family: Georgia, New Times Roman, serif;
		text-shadow: 1px 1px 1px #667;
		  }

img {
		border: none;
	}
		  
#wrapper {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		background-color: #F0F0F0;
		min-width: 700px;
		}

main	{
		margin-left: 180px;
		padding-left: 2em;
		padding-right: 2em;
		background-color: #ffffff;
		border: solid;
		border-width: 1px;
		border-color: #AEC3E3;
		}

table	{
		margin: 1em;
		border: 2px solid #000066;
		border-collapse: collapse
		}

td, th	{
		padding: 0.5em; 
		border: 1px solid #000066;
		}
			
footer {
		background-color: #AEC3E3;
		font-size: .70em; 
		font-style: italic;
		text-align: center;
		padding: 1em;
		margin-left: 180px;
		}
		
* 		{
		box-sizing: border-box;
		}

header, nav, main, footer 	{
							display: block;
							}

#mobile { display: none; }
#desktop { display: inline; }

@media only screen and (max-width: 1024px) 
		{
		body {
				margin: 0;
				padding: 0;
				background-color: #ffffff;
				background-image: none;
			}
		
		wrapper	{
				width: auto;
				min-width: 0;
				margin: 0;
				}
		
		h1	{
				margin: 0;
				font-size: 1.8em;
				line-height: 200%;
			}
		
		nav	{
				float: none;
				padding: 0;
				width: auto;
			}
			
		nav li {
				display: inline-block;
				}
				
		nav a {
				padding: 1em;
				font-size: 1.2em;
				}
				
		nav ul {
				text-align: center;
				padding: 0;
				margin: 0;
				}
				
		main {
				font-size: 90%;
				margin: 0;
				padding-left: 2em;
			}
		
		footer {
				margin: 0;
				}
		}
		
@media only screen and (max-width: 768px) 
		{
		
		header {
				background-image: url(lilfish.gif);
				}
		
		h1	{
				font-size: 1.5em;
				line-height: 120%;
			}
				
		nav a {
				display: block;
				padding: 0.2em;
				font-size: 1em;
				border-bottom: 1px;
				border-bottom-color: #330000;
				}
				
		nav li {
				display: block;
				}
				
		nav ul {
				text-align: left;
				}
				
		main {
				padding-left: 1em;
			}
		
		.category {
				text-shadow: none;
				}
		
		#mobile { display: inline; }
		#desktop { display: none; }
		
		}